/*########## start global ##########*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: var(--main-transition);
}

:root {
  --main-color: #0ab484;
  --main-color-2: #5861a0;
  --main-color-border: lightgray;
  --main-shadow: -3px 4px 3px 0px rgba(0, 0, 0, 0.78);
  --main-hover-shadow: -6px 7px 6px 0px rgba(0, 0, 0, 0.78);
  --main-border-radius: 10px;
  --main-border: 1px solid var(--main-color-border);
  --main-transition: 0.3s;
  --main-padding: 80px;
  @media (max-width: 768px) {
    --main-padding: 40px;
  }
}

body {
  font-family: sans-serif;
  background-color: #eee;
  scroll-behavior: smooth;
  transition: 0.3s;
}

::-webkit-scrollbar {
  width: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a,
i {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: black;
}

/*########## Global title ##########*/

.global-title {
  margin-bottom: 50px;
  @media (max-width: 768px) {
    margin-bottom: 30px;
  }

  .global-title__container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--main-border-radius);
    box-shadow: var(--main-shadow);
    background-color: var(--main-color);
    gap: 15px;
    padding: 10px;
  }

  .global-title__img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: var(--main-shadow);

    @media (max-width: 768px) {
      width: 110px;
      height: 110px;
    }
  }

  .global-title__name {
    color: white;
    font-size: 50px;

    @media (max-width: 768px) {
      font-size: 36px;
    }
  }
}

/*########## start Navbar ##########*/

.Navbar {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 1px 12px 0px black;
  z-index: 1000;

  .Navbar__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: inherit;
    z-index: 1000;
  }

  .Navbar__logo {
    font-size: 32px;
  }

  .Navbar__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    gap: 15px;

    @media (max-width: 768px) {
      position: absolute;
      top: 50px;
      left: 0;
      transform: translateY(-100%);
      transition: 0.5s transform ease-in-out;
      width: 100%;
      padding-top: 20px;
      flex-direction: column;
      justify-content: center;
      gap: 0;
      z-index: -1;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }

    &.open {
      transform: translateY(0%);
    }
  }

  .Navbar__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &::after {
      content: "";
      height: 3px;
      width: 0%;
      background-color: var(--main-color);
      position: absolute;
      left: 0;
      bottom: -5px;
      border-radius: 25px;
      transition: var(--main-transition);
    }

    &.active {
      color: var(--main-color);
      &::after {
        width: 100%;
      }
    }

    &:hover {
      color: var(--main-color);
    }

    &:hover::after {
      width: 100%;
    }

    @media (max-width: 768px) {
      padding: 20px 0;
      &::after {
        bottom: 10px;
      }
    }
  }

  .Navbar__brg-icon {
    width: 36px;
    height: 21px;
    position: relative;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    display: none;

    @media (max-width: 768px) {
      display: block;
    }

    span {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background: black;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;

      &:nth-child(1) {
        top: 0px;
        transform-origin: left center;
      }

      &:nth-child(2) {
        top: 9px;
        transform-origin: left center;
      }

      &:nth-child(3) {
        top: 18px;
        transform-origin: left center;
      }
    }

    &.open {
      span {
        &:nth-child(1) {
          transform: rotate(45deg);
          top: -6px;
          left: 5px;
        }

        &:nth-child(2) {
          width: 0%;
          opacity: 0;
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
          top: 20px;
          left: 5px;
        }
      }
    }
  }
}

/*########## start header ##########*/

.Home {
  height: 100vh;
  background-image: linear-gradient(
    180deg,
    var(--main-color-2),
    var(--main-color)
  );

  .Home__container {
    height: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }

  .Home__title-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  .Home__img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    box-shadow: var(--main-shadow);
  }

  .Home__first-title {
    background-color: white;
    padding: 5px 10px;
    border-radius: 30px;
    font-size: 44px;
    box-shadow: var(--main-shadow);

    @media (max-width: 768px) {
      font-size: 30px;
    }
  }

  .Home__second-title {
    color: var(--main-color);
    background-color: white;
    padding: 5px 10px;
    border-radius: 30px;
    box-shadow: var(--main-shadow);

    @media (max-width: 768px) {
      font-size: 22px;
    }
  }

  .Home__btn {
    background-color: var(--main-color-2);
    color: white;
    border-radius: 30px;
    padding: 10px;
    font-size: 22px;
    box-shadow: var(--main-shadow);
    /* box-shadow: 0px 1px 12px 0px black; */

    &:hover {
      background-color: var(--main-color);
      box-shadow: var(--main-hover-shadow);
      transform: translate(3px, -3px);
    }
  }
}

/*########## start about ##########*/

.About {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  background-color: white;

  .About__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }

  .About__img {
    width: calc(50% - 10px);
    border-radius: var(--main-border-radius);
    box-shadow: var(--main-shadow);
    object-fit: cover;

    @media (max-width: 992px) {
      width: 100%;
      height: 300px;
    }
  }

  .About__section {
    width: calc(50% - 10px);
    display: flex;
    flex-direction: column;
    gap: 15px;
    line-height: 1.8;

    @media (max-width: 992px) {
      width: 100%;
    }
  }
}

/*########### start information ###########*/

.Information {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  .Information__table {
    width: calc(50% - 10px);
    border-radius: var(--main-border-radius);
    border: var(--main-border);
    box-shadow: var(--main-shadow);
    background-color: white;

    @media (max-width: 992px) {
      width: 100%;
    }
  }

  .Information__table-title {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid var(--main-color-border);
  }

  .Information__table-container {
    display: flex;
  }

  .Information__table-headers {
    width: 30%;
    border-right: 1px solid var(--main-color-border);
  }

  .Information__table-head,
  .Information__table-info {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    border-bottom: 1px solid var(--main-color-border);
  }

  .Information__table-head:nth-child(odd),
  .Information__table-info:nth-child(odd) {
    background-color: #eee;
  }

  .Information__table-head:last-child,
  .Information__table-info:last-child {
    border-bottom: none;
  }

  .Information__table-infos {
    width: 70%;
  }

  .Information__numbers {
    width: calc(50% - 10px);
    display: flex;

    @media (max-width: 992px) {
      width: 100%;
    }
  }

  .Information__numbers-column {
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--main-color-border);
    width: calc(50% - 10px);
  }

  .Information__numbers-column:last-child {
    border-right: none;
  }

  .Information__numbers-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--main-color-border);
    height: 50%;
  }

  .Information__numbers-child:last-child {
    border-bottom: none;
  }

  .Information__numbers-num {
    font-size: 60px;
    font-weight: bold;
  }

  .Information__numbers-text {
    color: var(--main-color);
  }
}

/*########### start Companies ###########*/

.Companies {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  background-color: white;

  .Companies__title {
    text-align: center;
  }

  .Companies__section {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

    @media (max-width: 992px) {
      justify-content: center;
    }
  }

  .Companies__img {
    width: calc(100% / 5 - 50px);
    cursor: pointer;

    @media (max-width: 768px) {
      width: calc(100% / 3 - 20px);
    }

    &:hover {
      transform: scale(1.2);
    }
  }
}

/*########## start SERVICES ##########*/

.SERVICES {
  background-color: #eee;
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);

  .SERVICES__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      gap: 20px;
    }
  }

  .SERVICES__first-column {
    width: calc(50% - 10px);
    margin-top: 30px;
    gap: 20px;
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
      width: 100%;
      margin-top: 0;
    }
  }

  .SERVICES__second-column {
    width: calc(50% - 10px);
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
      width: 100%;
      gap: 20px;
    }
  }

  .SERVICES__card {
    overflow: hidden;
    background-color: white;
    border-radius: var(--main-border-radius);
    border: 3px solid white;
    padding: 15px;

    &:hover {
      box-shadow: var(--main-hover-shadow);
      transform: translate(3px, -3px);
      border: 3px solid var(--main-color);

      .SERVICES__card-price {
        background-color: var(--main-color);
      }

      .SERVICES__card-price::after {
        background-color: var(--main-color-2);
      }

      .SERVICES__card-icon i {
        background-color: var(--main-color);
        color: white;
      }
    }
  }

  .SERVICES__card-head {
    border-bottom: 1px solid var(--main-color-border);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
  }

  .SERVICES__card-price {
    background-color: var(--main-color-2);
    color: white;
    border-radius: 25px;
    padding: 10px 15px;
    position: relative;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      top: -6px;
      right: -3px;
      background-color: var(--main-color);
      width: 30px;
      height: 20px;
      border-radius: 50%;
      transform: rotate(27deg);
      transition: 0.3s;
    }
  }

  .SERVICES__card-body {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .SERVICES__card-btn {
    border-radius: 25px;
    border: var(--main-border);
    width: fit-content;
    padding: 10px 15px;
    box-shadow: var(--main-shadow);

    &:hover {
      box-shadow: var(--main-hover-shadow);
      transform: translate(3px, -3px);
      background-color: var(--main-color);
      color: white;
      border: 1px solid var(--main-color);
    }
  }

  .SERVICES__card-icon {
    height: 220px;
    width: 100%;
    position: relative;

    i {
      font-size: 100px;
      height: 100%;
      width: 200px;
      border-radius: var(--main-border-radius);
      display: grid;
      place-items: center;
      border: var(--main-border);
      position: absolute;
      top: 35px;
      right: -50px;
      transform: rotate(-45deg);
    }
  }
}

/* start project */
.Project {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  background-color: white;

  .Project__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }

  .Project__card {
    background-color: #eee;
    width: calc(100% / 3 - 15px);
    overflow: hidden;
    padding: 20px;
    border-radius: var(--main-border-radius);
    border: 3px solid #eee;

    @media (max-width: 992px) {
      width: calc(100% / 2 - 15px);
    }

    @media (max-width: 768px) {
      width: 100%;
    }

    &:hover {
      box-shadow: var(--main-hover-shadow);
      transform: translate(3px, -3px);
      border: 3px solid var(--main-color);

      .Project__card-img {
        transform: rotate(0) translateY(0);
      }
    }
  }

  .Project__card-title {
    color: var(--main-color);
  }

  .Project__card-name {
    margin-bottom: 20px;
  }

  .Project__card-img {
    width: 100%;
    border-radius: var(--main-border-radius);
    transform: rotate(15deg) translateY(96px);
  }
}

/* start contact */

.Contact {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);

  .Contact__form {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .Contact__form-inputs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }

  .Contact__form-input {
    width: calc(50% - 10px);
    background-color: white;
    padding: 10px;
    border-radius: var(--main-border-radius);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid white;

    @media (max-width: 768px) {
      width: 100%;
    }

    &:hover {
      border: 2px solid var(--main-color);
    }

    input {
      width: 100%;
      border: none;
      outline: none;
    }
  }

  .Contact__form-SERVICES {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      gap: 20px;
    }
  }

  .Contact__form-SERVICES-card {
    width: calc(100% / 4 - 10px);
    background-color: white;
    padding: 10px;
    border-radius: var(--main-border-radius);
    border: 2px solid white;
    cursor: pointer;
    text-align: center;

    @media (max-width: 768px) {
      width: calc(100% / 2 - 10px);
    }

    &:hover {
      border: 2px solid var(--main-color);
    }

    i {
      color: var(--main-color);
    }
  }

  .Contact__form-textarea {
    width: 100%;
    background-color: white;
    padding: 10px;
    border-radius: var(--main-border-radius);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid white;

    &:hover {
      border: 2px solid var(--main-color);
    }

    textarea {
      width: 100%;
      border: none;
      outline: none;
    }
  }

  .Contact__form-btn {
    color: white;
    background-color: var(--main-color-2);
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    width: fit-content;
    margin: auto;
    box-shadow: var(--main-shadow);

    &:hover {
      background-color: var(--main-color);
      box-shadow: var(--main-hover-shadow);
      transform: translate(3px, -3px);
    }
  }
}

/* start footer */

footer {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;

  span {
    border-right: 1px solid var(--main-color-border);
    color: gray;
    font-size: 22px;
    padding-right: 15px;
    display: flex;
    align-items: center;
  }

  .walid-name {
    text-align: center;
    padding-left: 15px;
    font-family: cursive;
  }
}
