* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*start nav*/
nav {
    background-color: white;
    padding: 8px 16px;
    box-shadow: 0px 1px 6px 2px #0000003b;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 222;
}

nav a {
    text-decoration: none;
    float: right;
    padding: 8px 16px;
    color: black;
    font-size: 15px;
    font-family: Verdana;
    letter-spacing: 3px;
}

.br {
    float: none;
    display: inline-block
}

nav a b {
    margin: 10px;

}

nav a:hover {
    background-color: lightgray;
}

/*end nav*/

/*start HEADER*/
header {
    position: relative;
}

header h1 {
    position: absolute;
    top: 54%;
    left: 38%;
    font-family: 'Segoe UI';
    color: white;
    letter-spacing: 3px;
    font-size: 36px;
    font-weight: 100;
}

header h1 b {
    background-color: #000000b9;
    color: white;
    padding: 8px 16px;
    margin: 10px;
}

/*end HEADER*/
main {
    padding: 10px;
}

/*start section*/
.section {
    padding: 50px 20px;
}

.section h3 {
    padding: 20px 0;
    font-family: 'Segoe UI';
    font-weight: 400;
    border-bottom: 1px solid rgba(211, 211, 211, 0.608);
    letter-spacing: 1px;
    font-size: 22px;
}

.scimges {
    padding: 10px;
    padding-top: 0px;
    display: flex;

}

.scimg {
    width: 25%;
    position: relative;
}

.scimg img {
    padding: 9px;
}

.scimg p {
    position: absolute;
    top: 9px;
    left: 9px;
    background-color: black;
    color: white;
    padding: 10px 14px;
    font-family: Verdana;
}

/* end section */

/* start article */
.article {
    padding: 50px 20px;
    padding-bottom: 30px;

}

.article h3 {
    padding: 20px 0;
    font-family: 'Segoe UI';
    font-weight: 400;
    border-bottom: 1px solid rgba(211, 211, 211, 0.359);
    letter-spacing: 1px;
    font-size: 22px;
}

.article p {
    padding-top: 15px;
    font-family: Verdana;
    text-align: left;
    line-height: 22px;
}

.artimges {
    padding: 10px;
    display: flex;
}

.artimg {
    width: 25%;
    padding: 10px;
    padding-bottom: 20px;
}

.artimg h3 {
    font-family: 'Segoe UI';
    font-weight: 400;
    padding: 10px 0;
}

.artimg .p2 {
    padding: 10px 0;
    font-family: Verdana;
    color: grey;

}

.artimg p {
    padding: 10px 0;
    font-family: Verdana;
    text-align: left;
}

.artimg button {
    background-color: rgba(211, 211, 211, 0.319);
    width: 100%;
    border: none;
    padding: 10px;
    font-family: Verdana;
    font-weight: 400;
    font-size: 15px;
    margin: 5px 0;
}

.artimg button:hover {
    background-color: lightgray;
}

/* end article */

/* start form */
form {
    padding: 20px 19px;

}

form input {
    width: 100%;
    padding: 10px;
    margin-top: 13px;
    font-family: Verdana;
    font-weight: 400;
    font-size: 14px;
    border: 1px solid lightgrey;
}

form p {
    padding: 10px;
    font-family: Verdana;
    font-weight: 400;
    padding-left: 0;

}

form h3 {
    padding: 25px 0px;
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 22px;
    border-bottom: solid 1px rgba(211, 211, 211, 0.303);
}

form button {
    background-color: black;
    color: white;
    padding: 10px 15px;
    font-family: Verdana;
    font-weight: 400;
    font-size: 14px;
    margin: 25px 0px;
    border: none;

}

form button:hover {
    background-color: lightgrey;
    color: black;
    border: none;
}

/* end form */

.imgfotter {
    padding: 0 20px;
}

/* start footer */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
    font-size: 20px;
    font-family: Verdana;
    font-weight: 400;
}

footer a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px;
    font-size: 20px;
    font-family: Verdana;
    font-weight: 400;
    border-radius: 25px;
    border: 2px solid lightgrey;
}

footer a:hover {
    background-color: lightgray;
}

/* end footer */
@media screen and (max-width: 992px) {
    .artimges {
        flex-wrap: wrap;
    }

    .artimg {
        width: 50%;

    }

    .scimges {
        flex-wrap: wrap;

    }

    .scimg {
        width: 50%;
    }

}

@media screen and (max-width: 600px) {
    .right {
        display: none;
    }

    header span {
        display: none;
    }

    .artimges {
        flex-wrap: wrap;
    }

    .artimg {
        width: 100%;

    }

    .scimges {
        flex-wrap: wrap;

    }

    .scimg {
        width: 100%;
    }

    footer {
        font-size: 10px;
    }

    footer a {
        font-size: 10px;
    }

    main {
        font-size: 15px;
    }
}